
@{
    ViewBag.Title = "UserExists";
}

<h2>@ViewBag.username already exists.</h2>
<script>
        history.pushState(null, null, document.title);
        window.addEventListener('popstate', function () {
            history.pushState(null, null, document.title);
        });
</script>
<p style="font-size:medium">
    @Html.ActionLink("Try Again","SignUP")
</p>

