
@{
    ViewBag.Title = "WrongPassword";
}

<h2>Please enter correct details.</h2>
<script>
        history.pushState(null, null, document.title);
        window.addEventListener('popstate', function () {
            history.pushState(null, null, document.title);
        });
</script>
<p style="font-size:medium">
    @Html.ActionLink("Try Again", "Index")
</p>


